<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Containers for Deployment and Scaling Pre-Course Assignment</title>
</head>

<body>
    <img src="32408-sushi-icon.png" width="50" height="50">
    {{{ body }}}
    <pre>
        Repository: <a href="https://github.com/khongyew/CFDSA">https://github.com/khongyew/CFDSA</a>
    </pre>
</body>

</html>